body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes book-bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shelf-lift {
    0% {
        transform: translateY(0) rotate(0);
    }
    15% {
        transform: translateY(-4px) rotate(10deg);
    }
    30% {
        transform: translateY(-4px) rotate(0);
    }
    30% {
        transform: translateY(-4px) rotate(-10deg);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.book-shelf__book {
    animation: book-bounce 0.9s ease;
    animation-iteration-count: infinite;
}

.book-shelf__book--two {
    animation-delay: 0.04s;
}

.book-shelf__book--three {
    animation-delay: 0.08s;
}

.book-shelf__shelf {
    animation: shelf-lift 0.9s ease;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
