@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
    color: white;
    margin-right: 1vw;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  background-color: black;
  color: white;

}

.navbar_links{
  display: flex;
}


.navbar_burger{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  //display: none;
}

@media screen and (max-width:767px) {
  .navbar_links{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;

      right: -100vw;
      bottom: 0;
      height: 100vh;
      padding: 2rem;
      visibility: hidden;
      background-color: rgba(27, 27, 27, 0.8);
  }

  .show-nav .navbar_links{
      width: 100vw;
      right: 0;
      visibility: visible;
  }
  li {
     margin-bottom: 2vw;
     font-size: large;
  }
  .navbar_burger{
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;
  }

  .navbar_burger:hover{
      cursor: pointer;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
      display: block;
      width: 40px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background: white;
      transition: all .5s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after{
      content: "";
      position: absolute;
      left: 0;
  }
  .burger-bar::before{
      transform:  translateY(-12px);
  }
  .burger-bar::after{
      transform:  translateY(12px);
  }
  .show-nav .burger-bar{
      width: 0;
      background: transparent;
  }

  .show-nav .burger-bar::before{
      transform: rotate(45deg);
  }
  .show-nav .burger-bar::after{
      transform: rotate(-45deg);
  }
}

