#map {
  height: 500px;
  background-color: aqua;
}
.leaflet-container {
  height: 500px;
}

.bookMap {
  //display: flex;
  //margin: 1%;
  & div {
    margin-left: 1%;

    & h4 {
      margin: 0 auto;
    }
  }
}

.img {
  vertical-align: middle;
}
