#reader {
    border-radius: 0 0 5px 5px;
}

#reader > div:first-of-type {
    display: none !important;
}

@media (max-width: 599px) {
    #reader {
        width: 100% !important;
    }
}

@media (min-width: 600px) {
    #reader,
    #reader video,
    #reader #reader__scan_region {
        width: 600px !important;
    }

    #reader video,
    #reader #reader__scan_region {
        width: 598px !important;
    }
}